Gps/TodoWCF/Service References/ServiceReference1/TTASService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev.dinhvihopquy.com/TTASService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TTASService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TTASService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TTASService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn_login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn_loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TTASService" minOccurs="0" name="fn_loginResult" nillable="true" type="q3:Resp_Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn_theodoitructuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn_theodoitructuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TTASService" minOccurs="0" name="fn_theodoitructuyenResult" nillable="true" type="q4:Resp_Theodoitructuyen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn_theodoitructuyen_map">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="devid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn_theodoitructuyen_mapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TTASService" minOccurs="0" name="fn_theodoitructuyen_mapResult" nillable="true" type="q5:Resp_Theodoitructuyen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn_device_theodoitructuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn_device_theodoitructuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TTASService" minOccurs="0" name="fn_device_theodoitructuyenResult" nillable="true" type="q6:Resp_device_tracking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn_xemlai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="devid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn_xemlaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TTASService" minOccurs="0" name="fn_xemlaiResult" nillable="true" type="q7:Resp_xemlai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn_get_users">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn_get_usersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TTASService" minOccurs="0" name="fn_get_usersResult" nillable="true" type="q8:Resp_users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>